<span>
	<span class="title">Erreur</span>

	<span class="section">
		<span class="title">Erreur</span>
	</span>

	<span class="section footerSection">
		<span class="elementId">footer</span>
		<span class="elementClass">footerClass</span>
		<span class="opacity">1.0</span>

		<span class="sectionBlock">
			<span class="text">
				<p>
					Bienvenue dans le Footer !
				</p>
			</span>
		</span>
	</span>
</span>
