<span>
	<span class="title">Example page Callback</span>

	<span class="section">
		<span class="elementId">section1</span>
		<span class="elementClass">sectionclass</span>
		<span class="opacity">0.9</span>
		<span class="title">Section 1</span>
		<span class="link">/section1</span>
		<span class="dimen">
			<span class="width">40</span>
			<span class="height">40</span>
			<span class="margintop">2</span>
			<span class="margindown">2</span>
			<span class="marginleft">5</span>
			<span class="marginright">5</span>
		</span>

		<span class="sectionBlock">
			<span class="elementId">block1</span>
			<span class="elementClass">blockClass</span>
			<span class="title">Block 1</span>
			<span class="link">/block1</span>
			<span class="icon">/provides/assets/gurren_lagann_perce_the_heaven.jpg</span>
			<span class="opacity">0.9</span>
			<span class="dimen">
				<span class="width">40</span>
				<span class="height">40</span>
				<span class="margintop">2</span>
				<span class="margindown">2</span>
				<span class="marginleft">5</span>
				<span class="marginright">5</span>
			</span>
			<span class="text">
				<p>
					Bonjour je suis le <strong>block 1</strong>.<br/>
					Comment allez-vous ?<br/>
					<img src="/provides/assets/gurren_lagann.jpg" style="width: 20%; height: 20%;" />
					<br/>
					Bien j'espere !
				</p>
			</span>
		</span>

		<span class="sectionBlock">
			<span class="elementId">block2</span>
			<span class="elementClass">blockClass</span>
			<span class="title">Block 2</span>
			<span class="link">/block2</span>
			<span class="icon">/provides/assets/gurren_lagann_perce_the_heaven.jpg</span>
			<span class="opacity">1.0</span>
			<span class="dimen">
				<span class="width">40</span>
				<span class="height">40</span>
				<span class="margintop">2</span>
				<span class="margindown">2</span>
				<span class="marginleft">5</span>
				<span class="marginright">5</span>
			</span>
			<span class="text">
				<p>
					Bonjour je suis le <strong>block 2</strong>.<br/>
					Comment allez-vous ?<br/>
				</p>
			</span>
		</span>
	</span>

	<span class="section footerSection">
		<span class="elementId">footer</span>
		<span class="elementClass">footerClass</span>
		<span class="opacity">1.0</span>

		<span class="sectionBlock">
			<span class="text">
				<p>
					Bienvenue dans le Footer !
				</p>
			</span>
		</span>
	</span>
</span>
