<span>
	<span class="menuBar">
		<span class="elementId">menubarId</span>
		<span class="elementClass">menubarClass</span>

		<span class="menuBarItem brandItem">
			<span class="title">Callback</span>
			<span class="icon">/provides/assets/logo.png</span>
			<span class="link">/home</span>
		</span>

		<span class="menuBarItem itemMainZone">
			<span class="title">GIS</span>
			<span class="link">/gis/page-gis</span>

			<span class="menuBarItem">
				<span class="title">OpenStreetMap</span>
				<span class="link">/gis/osm/page-osm</span>

				<span class="menuBarItem itemMainZone">
					<span class="title">GumGeoMap</span>
					<span class="link">/gis/osm/page-osm-gumgeomap</span>
				</span>
				<span class="menuBarItem itemMainZone">
					<span class="title">OSM data</span>
					<span class="link">/gis/osm/page-osm-osm-data</span>
				</span>
				<span class="menuBarItem itemMainZone">
					<span class="title">Overpass API</span>
					<span class="link">/gis/osm/page-osm-overpass-request</span>
				</span>
			</span>
		</span>

		<span class="menuBarItem itemMainZone">
			<span class="title">Computer Graphics</span>
			<span class="link">/computer-graphics</span>

			<span class="menuBarItem itemMainZone">
				<span class="title">OpenGl</span>
				<span class="link">/opengl</span>
			</span>
		</span>
		
		<span class="menuBarItem itemMainZone">
			<span class="title">C/C++</span>
			<span class="link">/c-cpp</span>
			
			<span class="menuBarItem itemMainZone">
				<span class="title">GTK+</span>
				<span class="link">/gtk</span>
			</span>
			
			<span class="menuBarItem itemMainZone">
				<span class="title">UDP</span>
				<span class="link">/udp</span>
			</span>
		</span>

	</span>
</span>

