<%# {page: Page} %>

<!DOCTYPE html>
<html>

<% if (page) { %>

<head>
	<% if (page.title) {%>
    <title><%= page.title%></title>
    <% } %>

    <link rel="stylesheet" type="text/css" href="/provides/css/MenuBar.css">
    <link rel="stylesheet" type="text/css" href="/provides/css/Section.css">
</head>

<body style="margin: 0; font-family: sans-serif;">

	<% if (page.menuBar) {%>
		<%- include('components/menu/MenuBar', {menuBar: page.menuBar}) %>
	<% } %>

	<% if (page.sections) { %>
	<div class="body-sections-div">
		<% page.sections.forEach( function (section) { %>
			<%- include('components/section/Section', {section: section}) %>
		<% }) %>
	</div>
	<% } %>

    <script type="text/javascript" src="/provides/js/MenuBar.js"></script>
    <script type="text/javascript" src="/provides/js/Section.js"></script>

</body>

<% } %>

</html>