<span>
	<span class="title">Callback</span>

	<span class="section">
		<span class="elementId">subjects</span>
		<span class="title">All acticles</span>
		<span class="dimen">
			<span class="margintop">2</span>
			<span class="margindown">2</span>
			<span class="marginleft">5</span>
			<span class="marginright">5</span>
		</span>

		<span class="sectionBlock">
			<span class="title">GIS</span>
			<span class="link">/gis</span>
			<span class="icon">/provides/assets/gis.svg</span>
			<span class="dimen">
				<span class="width">20</span>
				<span class="height">20</span>
				<span class="marginleft">5</span>
				<span class="marginright">5</span>
			</span>
			<span class="text">
				<p>
					Bonjour je suis le <strong>block 1</strong>.<br/>
					Comment allez-vous ?<br/>
					Bien j'espere !
				</p>
			</span>
		</span>

		<span class="sectionBlock">
			<span class="title">OpenGl</span>
			<span class="link">/opengl</span>
			<span class="icon">/provides/assets/opengl.svg</span>
			<span class="dimen">
				<span class="width">20</span>
				<span class="height">20</span>
				<span class="marginleft">5</span>
				<span class="marginright">5</span>
			</span>
			<span class="text">
				<p>
					Bonjour je suis le <strong>block 2</strong>.<br/>
					Comment allez-vous ?<br/>
				</p>
			</span>
		</span>

		<span class="sectionBlock">
			<span class="title">Gtk+</span>
			<span class="link">/gtk</span>
			<span class="icon">/provides/assets/gtk.svg</span>
			<span class="dimen">
				<span class="width">20</span>
				<span class="height">20</span>
				<span class="marginleft">5</span>
				<span class="marginright">5</span>
			</span>
			<span class="text">
				<p>
					Bonjour je suis le <strong>block 2</strong>.<br/>
					Comment allez-vous ?<br/>
				</p>
			</span>
		</span>

		<span class="sectionBlock">
			<span class="title">C</span>
			<span class="link">/c</span>
			<span class="icon">/provides/assets/c.svg</span>
			<span class="dimen">
				<span class="width">20</span>
				<span class="height">20</span>
				<span class="marginleft">5</span>
				<span class="marginright">5</span>
			</span>
			<span class="text">
				<p>
					Bonjour je suis le <strong>block 2</strong>.<br/>
					Comment allez-vous ?<br/>
				</p>
			</span>
		</span>

		<span class="sectionBlock">
			<span class="title">C++</span>
			<span class="link">/cpp</span>
			<span class="icon">/provides/assets/cpp.svg</span>
			<span class="dimen">
				<span class="width">20</span>
				<span class="height">20</span>
				<span class="marginleft">5</span>
				<span class="marginright">5</span>
			</span>
			<span class="text">
				<p>
					Bonjour je suis le <strong>block 2</strong>.<br/>
					Comment allez-vous ?<br/>
				</p>
			</span>
		</span>

		<span class="sectionBlock">
			<span class="title">Linux</span>
			<span class="link">/linux</span>
			<span class="icon">/provides/assets/linux.svg</span>
			<span class="dimen">
				<span class="width">20</span>
				<span class="height">20</span>
				<span class="marginleft">5</span>
				<span class="marginright">5</span>
			</span>
			<span class="text">
				<p>
					Bonjour je suis le <strong>block 2</strong>.<br/>
					Comment allez-vous ?<br/>
				</p>
			</span>
		</span>

		<span class="sectionBlock">
			<span class="title">OpenStreetMap</span>
			<span class="link">/osm</span>
			<span class="icon">/provides/assets/osm.svg</span>
			<span class="dimen">
				<span class="width">20</span>
				<span class="height">20</span>
				<span class="marginleft">5</span>
				<span class="marginright">5</span>
			</span>
			<span class="text">
				<p>
					Bonjour je suis le <strong>block 2</strong>.<br/>
					Comment allez-vous ?<br/>
				</p>
			</span>
		</span>

		<span class="sectionBlock">
			<span class="title">Computer Graphics</span>
			<span class="link">/udp</span>
			<span class="icon">/provides/assets/computer-graphics.svg</span>
			<span class="dimen">
				<span class="width">20</span>
				<span class="height">20</span>
				<span class="marginleft">5</span>
				<span class="marginright">5</span>
			</span>
			<span class="text">
				<p>
					Bonjour je suis le <strong>block 2</strong>.<br/>
					Comment allez-vous ?<br/>
				</p>
			</span>
		</span>
	</span>

	<span class="section footerSection">
		<span class="elementId">footer</span>
		<span class="elementClass">footerClass</span>
		<span class="opacity">1.0</span>

		<span class="sectionBlock">
			<span class="text">
				<p>
					Bienvenue dans le Footer !
				</p>
			</span>
		</span>
	</span>
</span>
