<%# {block: SectionBlock} %>

<% if (block) { %>

<div
	<% if (block.elementId) {%> id="<%= block.elementId %>" <% } %>

	class="
		section-block-div
		<% if (block.elementClass) {%> <%= block.elementClass %> <% } %>
	"

	style="
		<% if (block.dimen) { %>
			<% if (block.dimen.marginleft) { %>
				margin-left: <%= block.dimen.marginleft%>%;
			<% } %>
	        <% if (block.dimen.marginright) { %>
	        	margin-right: <%= block.dimen.marginright%>%;
	        <% } %>
	        <% if (block.dimen.margintop) { %>
	        	margin-top: <%= block.dimen.margintop%>%;
	        <% } %>
	        <% if (block.dimen.marginbottom) { %>
	        	margin-bottom: <%= block.dimen.marginbottom%>%;
	        <% } %>
	        <% if (block.dimen.width) { %>
	    	    width: <%= block.dimen.width%>%;
	        <% } %>
	        <% if (block.dimen.height) { %>
		        height: <%= block.dimen.height%>%;
	        <% } %>
	    <% } %>

		<% if (block.opacity) { %>
            background: rgba(255, 255, 255, <%= block.opacity%>);
        <% } %>
	">


	<% if (block.icon) {%>
	<img class="section-block-icon-img" src="<%= block.icon%>" style="width: 100%; height: 100%"/>
	<% } %>


	<% if (block.title) { %>
	<div class="section-block-title-div">
		<% if (block.link) { %> <a href="<%= block.link%>"> <% } %>
		<h2><%= block.title%></h2>
		<% if (block.link) { %> </a> <% } %>
	</div>
	<% } %>


	<% if (block.text) {%>
	<div class="section-block-text-div">
		<p>
			<%- block.text%>
		</p>
	</div>
	<% } %>
	

</div>

<% } %>