/*
.menu-bar-div
	.menu-bar-brand-div
		.menu-bar-item-div
			...
	.menu-bar-main-items-div
		.menu-bar-item-div []
			a +-
				.menu-bar-item-title-and-icon-div
					.menu-bar-item-icon-img
					.menu-bar-item-title-div
						h2
			.menu-bar-item-sub-items-div []
				.menu-bar-item-div
	.menu-bar-secondary-items-div
		.menu-bar-item-div []
			a +-
				.menu-bar-item-title-and-icon-div
					.menu-bar-item-icon-img
					.menu-bar-item-title-div
						h2
			.menu-bar-item-sub-items-div []
				.menu-bar-item-div
*/

.menu-bar-div {
	height: 10%;
	display: flex;
	flex-direction: row;
	justify-content: center;

	font-size: small;
}
.menu-bar-div ul {
	list-style-type: none;
}

/*SIMILAR ITEMS*/
.menu-bar-div a {
	color: black;
	text-decoration: none;
}
.menu-bar-item-div {
	height: 30%;
	display: flex;
	flex-direction: column;

	position: relative;
}
.menu-bar-item-div .menu-bar-item-title-and-icon-div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.menu-bar-item-div img {
	width: 30%;
}
.menu-bar-item-div .menu-bar-item-sub-items-div {
	display: flex;
	flex-direction: column;
}
.menu-bar-item-sub-items-div img {
	width: 10%;
}

/*BRAND*/
.menu-bar-brand-div {
	width: 30%;
	height: 100%;

	align-self: flex-start;
}
.menu-bar-brand-div .menu-bar-item-div img {
	width: 30%;
}

/*MAIN*/
.menu-bar-main-items-div {
	width: 80%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding-right: 1%;
}
.menu-bar-main-items-div .selected {
	font-weight: bolder;
	background-color: rgb(255, 177, 0);
}
.menu-bar-main-items-div > .menu-bar-item-div  {
	width: 20%;
}
.menu-bar-main-items-div .menu-bar-item-div:hover {
	font-weight: bolder;
	background-color: yellow;
}

/*SECONDARY*/
.menu-bar-secondary-items-div {
	width: 20%;
	height: 100%;
	display: flex;
	flex-direction: row;
}
