/*
.section-div
	.section-title-div
		a +-
			h2
	.section-blocks-div
		.section-block-div []
			.section-block-icon-img
			section-block-title-div
				a +-
					h2
			section-block-text-div
				p
*/

.section-div {
	background-color: rgb(255, 177, 0);
    border-radius: 0 5% 5% 5%;

    display: flex;
    flex-direction: column;
}

/*TITLE*/
.section-title-div a {
	text-decoration: none;
	color: black;
}
.section-title-div {
	text-align: center;
    color: black;
    text-transform: uppercase;

    text-decoration: underline;
    text-decoration-color: yellow;
    text-decoration-thickness: 25%;
    text-underline-offset: 50%;
}

/*BODY*/
.section-blocks-div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 5%;

	flex-wrap: wrap;
}

/*BLOCKS*/
.section-block-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1%;
	padding: 1%;
	border-radius: 10px 30px 10px 30px;

	background-color: white;
}
.section-block-div a {
	text-decoration: none;
	color: black;
}
