<%# {section: Section} %>

<% if (section) { %>

<div
	<% if (section.elementId) {%> id="<%= section.elementId %>" <% } %>

	class="
		section-div
		<% if (section.elementClass) {%> <%= section.elementClass %> <% } %>
	"

	style="
		<% if (section.dimen) { %>
			<% if (section.dimen.marginleft) { %>
				margin-left: <%= section.dimen.marginleft%>%;
			<% } %>
	        <% if (section.dimen.marginright) { %>
	        	margin-right: <%= section.dimen.marginright%>%;
	        <% } %>
	        <% if (section.dimen.margintop) { %>
	        	margin-top: <%= section.dimen.margintop%>%;
	        <% } %>
	        <% if (section.dimen.marginbottom) { %>
	        	margin-bottom: <%= section.dimen.marginbottom%>%;
	        <% } %>
	        <% if (section.dimen.width) { %>
	    	    width: <%= section.dimen.width%>%;
	        <% } %>
	        <% if (section.dimen.height) { %>
		        height: <%= section.dimen.height%>%;
	        <% } %>
	    <% } %>

		<% if (section.opacity) { %>
            background: rgba(255, 255, 255, <%= section.opacity%>);
        <% } %>
	">


	<% if (section.title) { %>
	<div class="section-title-div">
		<% if (section.link) { %> <a href="<%= section.link%>"> <% } %>
		<h2><%= section.title%></h2>
		<% if (section.link) { %> </a> <% } %>
	</div>
	<% } %>

	<% if (section.blocks) { %>
	<div class="section-blocks-div">
		<% section.blocks.forEach( function (block) { %>
			<%- include('SectionBlock', {block: block}) %>
		<% }) %>
	</div>
	<% } %>

</div>

<% } %>