<span>
	<span class="title">Callback - GIS</span>

	<span class="section">
		<span class="elementId">gis</span>
		<span class="title">OpenStreetMap</span>
		<span class="dimen">
			<span class="margintop">2</span>
			<span class="margindown">2</span>
			<span class="marginleft">5</span>
			<span class="marginright">5</span>
		</span>

		<span class="sectionBlock">
			<span class="title">GumGeoMap</span>
			<span class="link">/gis/osm/page-osm-gumgeomap</span>
			<span class="dimen">
				<span class="width">20</span>
				<span class="height">20</span>
				<span class="marginleft">5</span>
				<span class="marginright">5</span>
			</span>
			<span class="text">
				<p>
					Bonjour je suis le <strong>block 1</strong>.<br/>
					Comment allez-vous ?<br/>
					Bien j'espere !
				</p>
			</span>
		</span>

		<span class="sectionBlock">
			<span class="title">OSM data</span>
			<span class="link">/gis/osm/page-osm-osm-data</span>
			<span class="dimen">
				<span class="width">20</span>
				<span class="height">20</span>
				<span class="marginleft">5</span>
				<span class="marginright">5</span>
			</span>
			<span class="text">
				<p>
					Bonjour je suis le <strong>block 1</strong>.<br/>
					Comment allez-vous ?<br/>
					Bien j'espere !
				</p>
			</span>
		</span>

		<span class="sectionBlock">
			<span class="title">The Overpass API</span>
			<span class="link">/gis/osm/page-osm-overpass-request</span>
			<span class="dimen">
				<span class="width">20</span>
				<span class="height">20</span>
				<span class="marginleft">5</span>
				<span class="marginright">5</span>
			</span>
			<span class="text">
				<p>
					Bonjour je suis le <strong>block 1</strong>.<br/>
					Comment allez-vous ?<br/>
					Bien j'espere !
				</p>
			</span>
		</span>
	</span>

	<span class="section footerSection">
		<span class="elementId">footer</span>
		<span class="elementClass">footerClass</span>
		<span class="opacity">1.0</span>

		<span class="sectionBlock">
			<span class="text">
				<p>
					Bienvenue dans le Footer !
				</p>
			</span>
		</span>
	</span>
</span>
