<%# {menuBar: MenuBar} %>

<% if (menuBar) { %>

<div 
	<% if (menuBar.elementId) {%> id="<%= menuBar.elementId %>" <% } %>

	class="
		menu-bar-div
		<% if (menuBar.elementClass) {%> <%= menuBar.elementClass %> <% } %>
	"

	style="
		<% if (menuBar.opacity) { %>
            background: rgba(255, 255, 255, <%= menuBar.opacity%>);
        <% } %>
	">


	<% if (menuBar.brandItem) { %>
	<div class="menu-bar-brand-div">
		<%- include('MenuBarItem', {item: menuBar.brandItem}) %>
	</div>
	<% } %>


	<% if (menuBar.itemMainZone) { %>
	<div class="menu-bar-main-items-div">
		<% menuBar.itemMainZone.forEach( function (item) { %>
			<%- include('MenuBarItem', {item: item}) %>
		<% }) %>
	</div>
	<% } %>


	<% if (menuBar.itemSecondaryZone) { %>
	<div class="menu-bar-secondary-items-div">
		<% menuBar.itemSecondaryZone.forEach( function (item) { %>
			<%- include('MenuBarItem', {item: item}) %>
		<% }) %>
	</div>
	<% } %>


</div>

<% } %>
