<%# {item: itemItem} %>

<% if (item) { %>

<div
	<% if (item.elementId) {%> id="<%= item.elementId %>" <% } %>
	
	class="
		menu-bar-item-div
		<% if (item.elementClass) {%> <%= item.elementClass %> <% } %>
		<% if (item.selected) {%> selected <% } %>
	"

	style="
		<% if (item.opacity) { %>
            background: rgba(255, 255, 255, <%= item.opacity%>);
        <% } %>
	">

	<% if (item.link) {%> <a href="<%= item.link%>"> <% } %>
	<div class="menu-bar-item-title-and-icon-div">

		<% if (item.icon) {%>
		<img class="menu-bar-item-icon-img" src="<%= item.icon%>"/>
		<% } %>


		<% if (item.title) { %>
		<div class="menu-bar-item-title-div">
			<h2><%= item.title%></h2>
		</div>
		<% } %>

	</div>
	<% if (item.link) {%> </a> <% } %>


	<% if (item.subItems) {%>
	<div class="menu-bar-item-sub-items-div">
		<% item.subItems.forEach( function (subItem) { %>
			<%- include('MenuBarItem', {item: subItem}) %>
		<% }) %>
	</div>
	<% } %>


</div>

<% } %>
